{% extends "layouts/dashboard_layout.html" %}
{% block title %} Dashboard {% endblock title %}

{% block content %}
<div>
    Evalúe el siguiente código:
</div>
<div id="editor-container", style="width: 60%; height: 50%;">
</div>

<div id="editor-code">
{{ branch.code }}
</div>

{% if form.errors %}
<div>
{% for field, errors in form.errors.items() %}
{% for err in errors %}
<div class="alert alert-danger">
    <strong>Error!</strong> {{ err }} <br />
</div>
{% endfor %}
{% endfor %}
</div>
{% endif %}

<div>
    Escoja la salida correcta:
</div>

<div class="response-container">
    <form action="/tests/validate-response" method="POST" role="form">
        {{ form.answered_node }}
        {{ form.csrf_token }}
        <input type="hidden" name="subject_name" value="{{ branch.subject }}"></input>
        <input type="hidden" name="current_node" value="{{ branch.current_node }}"></input>
        <button type="submit" class="btn btn-primary">Siguiente</button>
    </form>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    code = document.getElementById('editor-code').textContent;

    require.config({ paths: { 'vs': '/static/vs' }})
    require(['vs/editor/editor.main'], function() {
        var editor = monaco.editor.create(document.getElementById('editor-container'), {
            value: code,
            language: 'cpp',
            theme: 'vs-dark',
            readOnly: true,
            scrollbar: {
                vertical: 'auto',
                horizontal: 'auto'
            },
            automaticLayout: true
        });
    });
</script>
{% endblock javascript %}
